In [1]:
import pandas as pd

In [5]:
questions = pd.read_csv('interview_questions.csv')

In [6]:
questions.head()

  Company                                           Question
0     TCS   Q. How do you maintain company coding standards?
1     TCS        Q. Explain the Python installation process.
2     TCS                           Q. Explain OOP concepts.
3     TCS                                 Q. What is DevOps?
4     TCS  Q. Write a Python code to reverse the last k d...

In [7]:
import re

def clean_question(text):
    text = re.sub(r'^Q\.\s*', '', text, flags=re.IGNORECASE)
    text = re.sub(r'[^\w\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

In [8]:
questions['cleaned_question'] = questions['Question'].apply(clean_question)

In [9]:
questions.head()

,Company,Question,cleaned_question
0,TCS,Q. How do you maintain company coding standards?,How do you maintain company coding standards
1,TCS,Q. Explain the Python installation process.,Explain the Python installation process
2,TCS,Q. Explain OOP concepts.,Explain OOP concepts
3,TCS,Q. What is DevOps?,What is DevOps
4,TCS,Q. Write a Python code to reverse the last k d...,Write a Python code to reverse the last k digi...

In [10]:
questions.drop(columns=['Question'], inplace=True)

In [11]:
questions.head()

  Company                                   cleaned_question
0     TCS       How do you maintain company coding standards
1     TCS            Explain the Python installation process
2     TCS                               Explain OOP concepts
3     TCS                                     What is DevOps
4     TCS  Write a Python code to reverse the last k digi...

In [13]:
questions.to_csv('cleaned_interview_questions.csv', index=False)

In [14]:
ques_cleaned = pd.read_csv('cleaned_interview_questions.csv')

In [16]:
ques_cleaned.head()

  Company                                   cleaned_question
0     TCS       How do you maintain company coding standards
1     TCS            Explain the Python installation process
2     TCS                               Explain OOP concepts
3     TCS                                     What is DevOps
4     TCS  Write a Python code to reverse the last k digi...

In [17]:
companies = pd.read_csv('top_companies.csv')

In [18]:
companies.head()

,Company,Rating,Reviews,Industry & Location
0,TCS,3.6,(98.1k),IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.8,(63.3k),IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.7,(57.3k),IT Services & Consulting | Bangalore / Bengalu...
3,Cognizant,3.7,(54.4k),IT Services & Consulting | Hyderabad / Secunde...
4,Capgemini,3.7,(46.1k),IT Services & Consulting | Bangalore / Bengalu...

In [21]:
companies["Industry & Location"]= companies["Industry & Location"].apply(clean_question)

In [22]:
companies.head()

,Company,Rating,Reviews,Industry & Location
0,TCS,3.6,(98.1k),IT Services Consulting Bangalore Bengaluru 413...
1,Accenture,3.8,(63.3k),IT Services Consulting Bangalore Bengaluru 227...
2,Wipro,3.7,(57.3k),IT Services Consulting Bangalore Bengaluru 358...
3,Cognizant,3.7,(54.4k),IT Services Consulting Hyderabad Secunderabad ...
4,Capgemini,3.7,(46.1k),IT Services Consulting Bangalore Bengaluru 172...

In [24]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              500 non-null    object
 1   Rating               500 non-null    float64
 2   Reviews              500 non-null    object
 3   Industry & Location  500 non-null    object
dtypes: float64(1), object(3)
memory usage: 15.8+ KB

In [25]:
companies["Rating"] = companies["Rating"].astype(str)

In [27]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              500 non-null    object
 1   Rating               500 non-null    object
 2   Reviews              500 non-null    object
 3   Industry & Location  500 non-null    object
dtypes: object(4)
memory usage: 15.8+ KB

In [28]:
companies.to_csv('cleaned_top_companies.csv', index=False)